<div class='column is-9'>
  <%= render 'hero' %>
  <%= render 'breadcrumb' %>
  <section>
    <div class='tile is-ancestor flex-tile'>
      <% @offers.each do |offer| %>
          <div class='tile is-parent is-6'>
            <div class='tile is-child box notification is-success'>
              <%= premium_badger(offer) %>
              <h4 class='title has-text-centered'><%= offer.advertiser_name %></h4>
              <div class='box-shadow has-text-centered'>
                <%= link_to 'Shop Now', offer.url, class: 'button is-normal' %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </section>
</div>
